@font-face{
    font-family: myFont;
    src:url(./font/Norse-Bold.otf)
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;    
    background-image: url("./img/cordillera.jpg");
    background-size: 150%;
    height:900px;
    width: 1000px !important;
    position:relative;
    bottom: 0;
    

}
.rightComponent{
    display:flex;
    flex-direction: column;
    width: 100%;        
    background: white;    
}

.leftComponent{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-right: 0;
    padding-right: 0;    
    height: 900px;
}
.leftFooter{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    position:static;    
    font-size: 18px;    
    margin-bottom: 5%;

}
.leftTitle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;        
    margin-bottom: 35%;
    padding-bottom: 10px;        
    height: 90%;
    font-family: myFont;
}
.sub{
    margin-left: 3px;
    text-decoration: underline;
}
.subTitle{
    display:flex;    
    justify-content: center;
    width: 100%;
    height: 70px;    
    color:black;    
    font-weight: bold;
    font-size: 60px; 
    opacity: 1.5;   
    
}
.subTitleBack{
    display:flex;
    background-color: gray;
    justify-content: center;
    width: 100%;
    height: 100px;    
    color:black;    
    font-weight: bold;
    font-size: 60px;
    opacity: .3;
    margin-top: -80px;
    
}
.component1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33%;
    background-color: rgb(235, 234, 234);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;    
    
}
.component2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33%;
    border-style:outset;    
    font-size: 10px; 
    
}
.component3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 33%;    
    background-color: rgb(235, 234, 234);
    
}
.text1{
    display: flex;
    flex-direction: column;
    margin-top:13%;
    width: 90%;    
    
}
.text2{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top:1%;
    
}


.button-create{
    display: flex;
    flex-direction: column;   
    width: 200px;
    margin-left:5%;
    margin-top: -15%;
}
.footerRight{
    display: flex;
    flex-direction: column; 
    margin-top: 3%;  
    width: 300px;
    margin-left:5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

}

.formTitle{
    display: flex;
    flex-direction: row;    
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 5%;
    padding-left: 10%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.formRow{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 3%;
    
}
.formColumn{
    display:flex;
    flex-direction: column;
    width: 35%;
    margin-left: -5%;
}
label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}
button{
    background-color: #596D48;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top:10px;    
    padding-bottom:10px;
    border-radius: 5px;
}
input{
    display:flex;
    border-style: solid;
    border-width: 1px;   
    outline: none !important;

    box-shadow: 10px 5px 5px  #E5E7EB;

}
.myInput{    
    border-color:black;
    background-color: rgb(221, 221, 247);
}
.myInput:focus {            
    border-color:blue !important;    
    background-color: rgb(180, 180, 204);
}